#restaurant-name{
  margin: 1.5em 0 1.5em;
  font-size: 1.5em;
}
#restaurants-list li{
  width:40%;
  padding: 0 0.5em;
}
#restaurants-list li a{
  font-size: 0.7em;
}
#restaurants-list .restaurant-img{
  margin-top: 5%;
  object-fit: scale-down;
  min-height: auto;
}
.filter-options select{
  width:auto;
  margin:5px;
  font-size: 1em;
}
#breadcrumb{
  width:60%;
}
.inside #map-container{
  width:40%;
}
#restaurant-container, #reviews-container{
  width:60%;
}
#guestName{
  padding-right: 0;
}
#commentDate{
  font-size:0.7em;
  padding-top: 1.4em;
}
.inside #footer{
  width:calc(60% - 5em)
}
